<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Se déconnecter</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../style/styleGlobal.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.1/css/boxicons.min.css">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="../assets/img/user-lock-solid.svg" id="icon" alt="User Icon" />
          </div>

          <!-- Exit Question -->
          <h2 class="fadeIn second">Voulez-vous quitter ?</h2>
          
          <!-- Buttons -->
          <div class="fadeIn third">
            <button class="btn btn-primary m-2" onclick="confirmExit('yes')">Oui</button>
            <button class="btn btn-secondary m-2" onclick="confirmExit('no')">Non</button>
          </div>
      
          <!-- Footer Links -->
          <div id="formFooter">
            
          </div>
      
        </div>
      </div>
      </body>
      </html>
